
html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif; // if user machine doesnt support Arial, Helvetica is goint to be uses, same for helvetica.
    font-size: 2.5rem;
}


.is-active{
    color:green;
}